<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Mentor SignUp</title>
<style type="text/css">
  .container{
    border:5px;
  }
  .jumbotron{
    background-color: #DCC7AA;
    font-family:Arial, Helvetica, sans-serif;
  }
</style>
  </head>

<body>
	<div class="jumbotron" style="text-align:center;color: aliceblue">
  <h1>This is the payment page</h1>
</div>
<ul>
  <li><h3>Select Payment Method</h3></li>
  <div style="font-size: 15px;">
  <li><a (click)="createPayment()" routerLink="/learndash">Credit Card</a></li>
  <li><a (click)="createPayment()" routerLink="/learndash">Debit Card</a></li>
  <li><a (click)="createPayment()" routerLink="/learndash">Net Banking</a></li>
  <li><a (click)="createPayment()" routerLink="/learndash">Net Banking</a></li>
  <li><a (click)="createPayment()" routerLink="/learndash">Bhim UPI</a></li>
</div>
</ul>

<div style="height:140px;width:100px;">
  <button type="submit" class="btn btn-primary" routerLink="/utraining">Register for new course</button>
  <button type="reset" class="btn btn-danger" routerLink="/login">Logout</button>
</div>



